@using SportsStore.Domain.Entities

@model SportsStore.WebUI.ViewModels.ProductsListViewModel

@{
    ViewBag.Title = "List";
}


<div class="container">
    <div class="row">
        <h3>Sport store</h3>
    </div>
    <div class="row">
        <div class="col-sm-3">
            @Html.Action("Menu", "Nav")
        </div>
        <div class="col-sm-6">
            <div class="row">
                <div class="products-list">
                    @foreach (var item in Model.Products)
                    {
                        @Html.Partial("ProductSummary", item)
                    }
                </div>
            </div>
            <div class="row">
                @Html.PageLinks(Model.PagingInfo, x => Url.Action("List", new { page = x, category = Model.CurrentCategory }));
            </div>
           
        </div>
    </div>
   
</div>>