@using SportsStore.Domain.Entities

@model SportsStore.WebUI.ViewModels.ProductsListViewModel

@{
    ViewBag.Title = "List";
}

<div>
    <h2> </h2>
</div>
<h2>List N</h2>

<h3>@(Model.Products.Count())</h3>

<div class="products-list">
    @foreach (var item in Model.Products)
    {
       @Html.Partial("ProductSummary", item)
    }
</div>

<div>
    @Html.PageLinks(Model.PagingInfo, x => Url.Action("List", new { page = x , category= Model.CurrentCategory}));
</div>